In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df= pd.read_csv("2020_WEP_original.csv")

In [4]:
df

,INFORMATION TYPE,DATE,PERIOD,WEP ($/MWh),USEP ($/MWh),AFP ($/MWh),HEUR ($/MWh),HLCU ($/MWh),MEUC ($/MWh),EMC Price Cap Fees ($/MWh),EMC Price Adj Fees ($/MWh),PSO Fees ($/MWh)
0,WEP,01 Jan 2020,1,70.78,70.56,0.08,-0.70,0.0,0.23,0.3228,0.0000,0.2808
1,WEP,01 Jan 2020,2,75.50,75.39,0.12,-0.84,0.0,0.23,0.3228,0.0000,0.2808
2,WEP,01 Jan 2020,3,72.69,72.72,0.07,-0.93,0.0,0.23,0.3228,0.0000,0.2808
3,WEP,01 Jan 2020,4,70.36,70.49,0.03,-1.00,0.0,0.23,0.3228,0.0000,0.2808
4,WEP,01 Jan 2020,5,70.33,70.48,0.03,-1.02,0.0,0.23,0.3228,0.0000,0.2808
...,...,...,...,...,...,...,...,...,...,...,...,...
2923,WEP,01 Mar 2020,44,79.49,79.02,0.17,-0.52,0.0,0.21,0.3228,0.0164,0.2765
2924,WEP,01 Mar 2020,45,73.27,72.54,0.15,-0.25,0.0,0.21,0.3228,0.0164,0.2765
2925,WEP,01 Mar 2020,46,71.14,70.60,0.09,-0.37,0.0,0.21,0.3228,0.0164,0.2765
2926,WEP,01 Mar 2020,47,70.11,69.64,0.09,-0.45,0.0,0.21,0.3228,0.0164,0.2765
2927,WEP,01 Mar 2020,48,66.21,65.74,0.02,-0.38,0.0,0.21,0.3228,0.0164,0.2765

In [8]:
df2 = pd.DataFrame()

df2['DATE']=df['DATE']
df2['Period']=df['PERIOD']
df2['WEP']=df['WEP ($/MWh)']

df3=df2.copy()

df3['DATE']=pd.to_datetime(df3['DATE'])
df3.set_index("DATE").resample("30min").mean()
df4 = pd.date_range(start='1/1/2020 00:00:00', end='3/1/2020 23:30:00', freq="30min")
df3.set_index(df4,inplace=True)
df2.index=df3.index
df2=df2.drop("DATE",1).drop("Period",1)
df2.to_csv('2020_WEP_ONLY.csv')

                       WEP
2020-01-01 00:00:00  70.78
2020-01-01 00:30:00  75.50
2020-01-01 01:00:00  72.69
2020-01-01 01:30:00  70.36
2020-01-01 02:00:00  70.33
...                    ...
2020-03-01 21:30:00  79.49
2020-03-01 22:00:00  73.27
2020-03-01 22:30:00  71.14
2020-03-01 23:00:00  70.11
2020-03-01 23:30:00  66.21

[2928 rows x 1 columns]

In [27]:
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	"""
	Frame a time series as a supervised learning dataset.
	Arguments:
		data: Sequence of observations as a list or NumPy array.
		n_in: Number of lag observations as input (X).
		n_out: Number of observations as output (y).
		dropnan: Boolean whether or not to drop rows with NaN values.
	Returns:
		Pandas DataFrame of series framed for supervised learning.
	"""
	n_vars = 1 if type(data) is list else data.shape[1]
	df = pd.DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
	# put it all together
	agg = pd.concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg

In [35]:
values = df2.values
data = series_to_supervised(values, 336, 1, False)
data.index = df2.index
data.rename(columns={"var1(t)": "WEP"}).dropna()

,var1(t-336),var1(t-335),var1(t-334),var1(t-333),var1(t-332),var1(t-331),var1(t-330),var1(t-329),var1(t-328),var1(t-327),...,var1(t-9),var1(t-8),var1(t-7),var1(t-6),var1(t-5),var1(t-4),var1(t-3),var1(t-2),var1(t-1),WEP
2020-01-08 00:00:00,70.78,75.50,72.69,70.36,70.33,69.55,68.62,67.60,67.04,67.13,...,83.14,85.11,78.91,77.10,75.38,71.40,70.04,68.33,65.77,53.85
2020-01-08 00:30:00,75.50,72.69,70.36,70.33,69.55,68.62,67.60,67.04,67.13,67.30,...,85.11,78.91,77.10,75.38,71.40,70.04,68.33,65.77,53.85,69.74
2020-01-08 01:00:00,72.69,70.36,70.33,69.55,68.62,67.60,67.04,67.13,67.30,68.46,...,78.91,77.10,75.38,71.40,70.04,68.33,65.77,53.85,69.74,55.00
2020-01-08 01:30:00,70.36,70.33,69.55,68.62,67.60,67.04,67.13,67.30,68.46,69.64,...,77.10,75.38,71.40,70.04,68.33,65.77,53.85,69.74,55.00,53.31
2020-01-08 02:00:00,70.33,69.55,68.62,67.60,67.04,67.13,67.30,68.46,69.64,69.63,...,75.38,71.40,70.04,68.33,65.77,53.85,69.74,55.00,53.31,52.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-01 21:30:00,79.59,76.70,73.22,72.83,70.71,70.53,70.63,70.66,69.26,67.71,...,69.38,69.75,69.75,74.92,78.92,77.66,79.86,79.78,85.19,79.49
2020-03-01 22:00:00,76.70,73.22,72.83,70.71,70.53,70.63,70.66,69.26,67.71,66.77,...,69.75,69.75,74.92,78.92,77.66,79.86,79.78,85.19,79.49,73.27
2020-03-01 22:30:00,73.22,72.83,70.71,70.53,70.63,70.66,69.26,67.71,66.77,66.73,...,69.75,74.92,78.92,77.66,79.86,79.78,85.19,79.49,73.27,71.14
2020-03-01 23:00:00,72.83,70.71,70.53,70.63,70.66,69.26,67.71,66.77,66.73,66.84,...,74.92,78.92,77.66,79.86,79.78,85.19,79.49,73.27,71.14,70.11
2020-03-01 23:30:00,70.71,70.53,70.63,70.66,69.26,67.71,66.77,66.73,66.84,67.10,...,78.92,77.66,79.86,79.78,85.19,79.49,73.27,71.14,70.11,66.21