In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("2015_2019_WEP_TS.csv", index_col=0, parse_dates=True)
df

                       WEP
2015-01-01 00:00:00  92.55
2015-01-01 00:30:00  91.56
2015-01-01 01:00:00  89.82
2015-01-01 01:30:00  91.50
2015-01-01 02:00:00  86.12
...                    ...
2019-12-31 21:30:00  75.21
2019-12-31 22:00:00  72.43
2019-12-31 22:30:00  69.58
2019-12-31 23:00:00  70.21
2019-12-31 23:30:00  66.77

[87648 rows x 1 columns]